$font: 'Roboto', sans-serif;
$size-base: 100%; // 14px
$size-secondary: 85.7142%; // 12px
$size-medium: 114.2857%; // 16px

$color-base: #252525;
$color-secondary: #fff;
$color-gray: #d7d7d7;
$color-primary: #41aaed;
$color-warning: #ffcc00;

$transition: all 0.2s ease;
